@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-image: url('bg.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.flex.flex-col.gap-3.p-4 li {
    text-indent: 0em;
}